.select-county{
    position: relative;
    left: 30%;
    width: 84%;
    margin-bottom: 2%;
   
}

.select-city{
    position: relative;
    left: 30%;
    width: 84%;
    margin-bottom: 2%;
}
.css-g1d714-ValueContainer{
    border-color: black;
}