
.container-restaurant-list{
    position: relative;
    left: 50%;
    right: 50%;
    text-align: center;
    position: relative;
    justify-items: center;
    margin: 4px;
    height: 200%;
    width: 50%;
    overflow: hidden;
    left: 25%;
}    
