.add-item-form {  
  grid-column-end: 1;
  grid-column-end: -1;
 
  border: black;
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;
    background-color: rgba(0,0,0, 0.5); 
    overflow: hidden;
  }  

  .add-item-form-inner {  
    position: absolute;  
    overflow: hidden;
    width: 90%;
    height: 75%;
    top: 14%;
    border: 2px solid black;
    border-radius: 20px;  
    background: rgb(250, 240, 228);
    margin-left: 5%;
  }

  .add-item-form-title{
    text-align: center;
    position: relative;
    top: 10px;
    width: 95%;
  }

  .add-item-form-inputs{
    position: relative;
    margin-top: 2%;
    width: 70%;
    margin: 0%;
    left: 35%;
  }


  .close-add-item-form{ 
    position: relative;
    top: 5%;
    width: 50%;
    left: 9%;
  }


  .form-control{
    left: 10%;
    width: 40%;
  }

  .input-error{
    color: red
  }

  .edit-item-form-input-name{
    width: 120%;
  }

  .edit-item-form-input-price{
    width: 120%;
  }

  .edit-item-form-input-quantity{
    width: 120%;
  }

  .edit-item-form-input-description{
    width: 120%;
  }


 