.container-form{
    position: relative;
    text-align: center;
    align-items: center;
    margin-top: 10%;
    top: 60%;
    border: 2px solid black;
    border-radius: 20px;  
    width: 70%;
    left: 20%;
    overflow: hidden;
}

.component-title{
    position: relative;
    left: 25%;
}

/* .form-group{
    position: relative;
    right: 20%;
} */

.container-select{
    position: relative;
    left: 9%;
    width: 60%;
}

.btn{
    width: 50%;
    left: 28%;
}

#restaurant-input-name{
    position: relative;
    width: 100%;
    left: -5%; 
}

#restaurant-input-phone{
    position: relative;
    width: 100%;
    left: -5%; 
}

#restaurant-input-street{
    position: relative;
    width: 100%;
    left: -5%; 
}

#restaurant-input-phone{
    position: relative;
    width: 100%;
    left: -5%; 
}

#restaurant-input-location{
    position: relative;
    width: 100%;
    left: -5%; 
}

#restaurant-input-number{
    position: relative;
    width: 100%;
    left: -5%; 
}

#restaurant-input-theme{
    position: relative;
    width: 100%;
    left: -5%; 
}

#restaurant-input-description{
    position: relative;
    width: 100%;
    left: -5%; 
}

#restaurant-input-time-start{
    position: relative;
    width: 100%;
    left: -5%; 
}

#restaurant-input-time-end{
    position: relative;
    width: 100%;
    left: -5%; 
}
